
---
- name: Ensure curl is installed
  apt:
    name: curl
    state: present
    update_cache: yes

- name: Download kubectl using curl
  shell: |
    curl -LO https://dl.k8s.io/release/v1.29.0/bin/linux/amd64/kubectl
    install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
    rm -f kubectl
  args:
    creates: /usr/local/bin/kubectl

- name: Verify kubectl installation
  command: kubectl version --client
  register: kubectl_version
  ignore_errors: yes

- name: Show kubectl version
  debug:
    var: kubectl_version.stdout
